.timer-container{
    background-color: blanchedalmond;
    border: 1px solid;
    border-radius: 15px;
    border-color: purple;

    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 50%; 
    height: 30%;
    text-align: center;
    /* margin: 5px; */
}

.timer-container button{
    text-align: center;
    color: blueviolet;
    margin: 5px;
}
